.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 5px solid #000;
    width: 650px;
    height: 650px;
    margin: 0 auto;
    padding: 0;
}
.square {
    width: 80px;
    height: 80px;
}
.z {
    background-color: #f0d9b5;
}
.x {
    background-color: #b58863;
}
i {
display: flex;
justify-content: center;
padding: 20px;
margin: 0 auto;
}
.fa-chess-knight:hover  {
    transform: scaleX(5);
    transform: scaleY(10);
}